<% if admin_signed_in? %>
<%=  render "shared/header" %>
<main class="dashboard">
  <%= render "admins/shared/menu" %>
  <div class="content">
    <h2>Новый пользователь</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.label :first_name, "Имя", class: "form__label" %>
        <%= f.text_field :first_name, autofocus: true, required: true, class: "form__input" %>
      </div>

      <div>
        <%= f.label :last_name, "Фамилия", class: "form__label" %>
        <%= f.text_field :last_name, required: true, class: "form__input" %>
      </div>

      <div>
        <%= f.label :address, "Адрес", class: "form__label" %>
        <%= f.text_field :address, required: true, class: "form__input" %>
      </div>

      <div>
        <%= f.label :login, "Логин", class: "form__label" %>
        <%= f.text_field :login, required: true, autocomplete: "off", class: "form__input" %>
      </div>

      <div>
        <%= f.label :email, class: "form__label" %>
        <%= f.email_field :email, required: true, class: "form__input" %>
      </div>

      <div>
        <%= f.password_field :password, type: "hidden", label: "false", class: "form__input" %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, type: "hidden", label: "false", class: "form__input" %>
      </div>

      <div class="actions">
        <%= f.submit "Создать", class: "form__button" %>
      </div>
    <% end %>
  </div>
</main>
<%= render "shared/footer" %>
<% else %>
  <script> window.location.href="/admins/sign_in" </script>
<% end %>