<% if admin_signed_in? %>
  <%= render "shared/header" %>
  <main class="dashboard">
    <%= render "admins/shared/menu" %>
    <div class="content">
      <h1>Список пользователей</h1>
      <table class="table">
        <thead>
        <tr>
          <th class="table__th">Имя</th>
          <th class="table__th">Фамилия</th>
          <th class="table__th">Адрес</th>
          <th class="table__th">Логин</th>
          <th class="table__th">Email</th>
        </tr>
        </thead>
        <tbody>
        <% @customers = Customer.all %>
        <% @customers.each do |customer| %>
          <tr>
            <td class="table__td"><%= customer.first_name %></td>
            <td class="table__td"><%= customer.last_name %></td>
            <td class="table__td"><%= customer.address %></td>
            <td class="table__td"><%= customer.login %></td>
            <td class="table__td"><%= customer.email %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </main>
  <%= render "shared/footer" %>
<% else %>
  <script> window.location.href="/admins/sign_in" </script>
<% end %>