<%= render "shared/header" %>
<main class="dashboard">
  <%= render "customers/shared/menu" %>
  <div class="content">
    <h1>Внести данные</h1>
    <div class="tabs">
      <ul class="tabs__menu">
        <li class="tabs__link tabs__link_active" id="cold-water-toggle">Холодная вода</li>
        <li class="tabs__link" id="hot-water-toggle">Горячая вода</li>
      </ul>
      <div class="tabs__content tabs__content_active" id="cold-water-tab">
        <%= form_with :html => {:class => "form"} do |f| %>
          <div>
            <%= f.label :hot_water_data, "Данные счётчика холодной воды за текущий месяц", class: "form__label" %>
            <%= f.number_field :hot_water_data, required: true, min: 00001, max: 99999999, class: "form__input" %>
          </div>
          <div class="actions">
            <%= f.submit "Внести", class: "form__button" %>
          </div>
        <% end %>
      </div>
      <div class="tabs__content" id="hot-water-tab">
        <%= form_with :html => {:class => "form"} do |f| %>
          <div>
            <%= f.label :hot_water_data, "Данные счётчика горячей воды за текущий месяц", class: "form__label" %>
            <%= f.number_field :hot_water_data, required: true, min: 00001, max: 99999999, class: "form__input" %>
          </div>
          <div class="actions">
            <%= f.submit "Внести", class: "form__button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>