<% if admin_signed_in? %>
<%= render "shared/header" %>
<main class="dashboard">
  <%= render "admins/shared/menu" %>
  <div class="content">
    <h2><%= @customer.last_name %> <%= @customer.first_name %></h2>
    <div class="tabs">
      <ul class="tabs__menu">
        <li class="tabs__link tabs__link_active" id="cold-water-toggle">Холодная вода</li>
        <li class="tabs__link" id="hot-water-toggle">Горячая вода</li>
      </ul>
      <div class="tabs__content tabs__content_active" id="cold-water-tab">
        <table class="table">
          <thead>
          <tr>
            <th class="table__th">Дата</th>
            <th class="table__th">Значение</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table__td">01-01-2000</td>
            <td class="table__td">12345678</td>
          </tr>
          <tr>
            <td class="table__td">01-01-2000</td>
            <td class="table__td">12345678</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="tabs__content" id="hot-water-tab">
        <table class="table">
          <thead>
          <tr>
            <th class="table__th">Дата</th>
            <th class="table__th">Значение</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table__td">01-01-3000</td>
            <td class="table__td">87654321</td>
          </tr>
          <tr>
            <td class="table__td">01-01-3000</td>
            <td class="table__td">87654321</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form">
      <%= link_to "Назад", "/admins/customers_list", class: "form__button" %>
    </div>
  </div>
</main>
<%= render "shared/footer" %>
<% else %>
  <script> window.location.href="/admins/sign_in" </script>
<% end %>