<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><%= link_to "Статистика", "/admins/dashboard", class: "menu__link" %></li>
    <li class="menu__item"><%= link_to "Изменить профиль", "/admins/edit", class: "menu__link" %></li>
    <li class="menu__item"><%= link_to "Пользователи", "/admins/customers_list", class: "menu__link" %></li>
    <li class="menu__item"><%= link_to "Новый пользователь", "/d/customers/sign_up", class: "menu__link" %></li>
    <li class="menu__item"><%= link_to "Админы", "/admins/list", class: "menu__link" %></li>
  </ul>
</nav>